
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;


@mixin small-screen {
  @media screen and (min-width: 350px) {
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: $small) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (min-width: $medium) {
    @content;
  }
}

@mixin xlarge-screen {
  @media screen and (min-width: $large) {
    @content;
  }
}