// Variables

$background: #050809;
$background-light: #0E1113;
$primary: #9BBED1;
$secondary: #2F6682;
$accent: #EFF2F4;
$text: #EFF2F4;

// Global Styles
body {
  font-family: 'Montserrat', sans-serif;
}
